In [1]:
# Load the data.table library
library(data.table)

# Read the CitiBike trip data for September 2018
df <- fread("2018-citibike-tripdata/9_September/201809-citibike-tripdata_1.csv")

df=data.table(df)

In [2]:
cat("question 1 :\n")
print(df[1,4])

cat("question 2 :\n")
print(df[1:5,5])

cat("question 3 :\n")
print(df[,10:11])

cat("question 4 :\n")
print(df[gender==2,14:15])

question 1 :
   start station id
              <num>
1:              252
question 2 :
                start station name
                            <char>
1:    MacDougal St & Washington Sq
2: Cadman Plaza West & Montague St
3:                 1 Ave & E 62 St
4:         St James Pl & Oliver St
5:                 W 13 St & 6 Ave
question 3 :
         end station latitude end station longitude
                        <num>                 <num>
      1:             40.69326             -73.96890
      2:             40.69103             -73.99183
      3:             40.67872             -73.99599
      4:             40.71334             -74.00936
      5:             40.73401             -74.00294
     ---
 999996:             40.76818             -73.95910
 999997:             40.74239             -73.99726
 999998:             40.74475             -73.99915
 999999:             40.74312             -73.98215
1000000:             40.72020             -73.98998
question 4 :
        birth year gender
             <int>  <int>
     1:       1984      2
     2:       1977      2
     3:       1974      2
     4:       1985      2
     5:       1976      2
    ---
245582:       1995      2
245583:       1982      2
245584:       1986      2
245585:       1982      2
245586:       1982      2

In [ ]:
cat("question 1.5 :\n")
print(df[,.N])

cat("question 1.6 :\n")
print(df[1:10, mean(tripduration)])

cat("question 1.7 :\n")
print(df[,mean(tripduration),by=gender])