In [1]:
# Load the data.table library
library(data.table)

# Read the CitiBike trip data for September 2018
df <- fread("2018-citibike-tripdata/9_September/201809-citibike-tripdata_1.csv")

df=data.table(df)

In [ ]:
cat("question 1.1 :\n")
print(df[1,4])

cat("question 1.2 :\n")
print(df[1:5,5])

cat("question 1.3 :\n")
print(df[,10:11])

cat("question 1.4 :\n")
print(df[gender==2,14:15])

question 1 :
   start station id
              <num>
1:              252
question 2 :
                start station name
                            <char>
1:    MacDougal St & Washington Sq
2: Cadman Plaza West & Montague St
3:                 1 Ave & E 62 St
4:         St James Pl & Oliver St
5:                 W 13 St & 6 Ave
question 3 :
         end station latitude end station longitude
                        <num>                 <num>
      1:             40.69326             -73.96890
      2:             40.69103             -73.99183
      3:             40.67872             -73.99599
      4:             40.71334             -74.00936
      5:             40.73401             -74.00294
     ---
 999996:             40.76818             -73.95910
 999997:             40.74239             -73.99726
 999998:             40.74475             -73.99915
 999999:             40.74312             -73.98215
1000000:             40.72020             -73.98998
question 4 :
        birth year gender
             <int>  <int>
     1:       1984      2
     2:       1977      2
     3:       1974      2
     4:       1985      2
     5:       1976      2
    ---
245582:       1995      2
245583:       1982      2
245584:       1986      2
245585:       1982      2
245586:       1982      2

In [3]:
cat("question 1.5 :\n")
print(df[,.N])

cat("question 1.6 :\n")
print(df[1:10, mean(tripduration)])

cat("question 1.7 :\n")
print(df[,mean(tripduration),by=gender])

question 1.5 :
[1] 1000000
question 1.6 :
[1] 1939.1
question 1.7 :
   gender        V1
    <int>     <num>
1:      1  853.1404
2:      0 2005.6706
3:      2 1016.5074

In [4]:
cat("question 1.8 :\n")
print(df[,.(mean_duration_by_gender=mean(tripduration)),by=gender])

cat("question 1.9 :\n")
print(df[,.(mean_duration=mean(tripduration),number_of_trips=.N),by=gender])

question 1.8 :
   gender mean_duration_by_gender
    <int>                   <num>
1:      1                853.1404
2:      0               2005.6706
3:      2               1016.5074
question 1.9 :
   gender mean_duration number_of_trips
    <int>         <num>           <int>
1:      1      853.1404          651245
2:      0     2005.6706          103169
3:      2     1016.5074          245586

In [18]:
library(fixest)

df_short = df[,.(no_of_trips=.N),by= .(`birth year`)]

model = feols(no_of_trips ~ `birth year`, data = df_short)

etable(model)

                  model
1 Dependent Var.: no_of_trips
2
3 Constant        -530,648.0*** (77,798.0)
4 `birthyear`     277.2*** (39.89)
5 _______________ ________________________
6 S.E. type       IID
7 Observations    100
8 R2              0.33018
9 Adj. R2         0.32334

In [ ]:

covariance <- cov(df_short$`birth year`, df_short$no_of_trips)

# Calculate variance of birth year
variance_birth_year <- var(df_short$`birth year`)

# Calculate slope
manual_slope <- covariance / variance_birth_year

cat("Manual calculation of slope:\n")
cat("Covariance(birth year, no_of_trips):", covariance, "\n")
cat("Variance(birth year):", variance_birth_year, "\n")
cat("Slope (cov/var):", manual_slope, "\n")

# Compare with the regression coefficient from the model
cat("\nComparison with regression model:\n")
cat("Model coefficient for birth year:", coef(model)[2], "\n")
cat("Difference:", abs(manual_slope - coef(model)[2]), "\n")